/* html
{
    height: 100vh;
    width: 100vh;
}  */

/* JA PIERDOLE */

body
{
    background: url('http://38.media.tumblr.com/9dbe889c08c607b24a3bcc7d35097c67/tumblr_nqev1jqvBb1u431g7o1_1280.gif');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline;
    justify-content: center;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 5%;

    /* position of login form */
}


.three-upper-p p{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline;
}

#register-loginDOM{
    opacity: 0.2;
}

#register-loginDOM:hover{
    box-shadow:         1px 1px 20px 10px #ccc;
    cursor: pointer;
}

#sign-in-registerDOM{
    opacity: 0.2;
}

#sign-in-registerDOM:hover{
    box-shadow:         1px 1px 20px 10px #ccc;
    cursor: pointer;
}

.login-register
{
    width: 280px;
    margin: 0 auto; 
    /* width of login form */
}

.login-register input[type="text"], .login-register input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

.login-register button
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.login-register label, .login-register a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}
/* 
#table-container{
    width: 100%;;
}

.table {
    display: block !important;
 } 
  */




.row{
    display: table-row;
}

.row:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 40px 10px red;
    margin: auto;
}

#table-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

table{
    opacity: 0.95;
    margin: 5%;
    /* margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%; */
    box-shadow: 0px 0px 40px 10px red;
    display: inline-table;
}

/* table{
    border-collapse: separate;
    border-spacing: 0px 10px;
} */

#awaiting-gif-container{
    position: absolute;
    right: 40%;
    top: 40%;
}

#awaiting-gif{

}

.modal-open .modal-backdrop { 
    z-index: 0; 
}

.modal-open {
    overflow: auto;
}